
body{
    width: 100%;
    height: 100%;
    text-align: center;
}

#main{
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 15% 20% 20% 45%;
    grid-template-areas: "legend map voicecard"
                         "legend map voicecard"
                         "legend map orders"
                         "info map orders";
}

li{
    list-style: none;
}

#container_shelves{
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    margin-top: 30px;
    grid-area: map;
}

.sub_container_shelves{
    width: 100%;
    height: fit-content;
    text-align: center;
    display: inline-block;
}

.horizontal_corridor{
    width: 100%;
    height: 4%;
    text-align: center;
    display: inline-block;
}

.estanteria{
    width: 50px;
    height: 60px;
    background-color: red;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -5px;
    border: 1px solid black;
}

.estanteria_seleccionada{
    border: 2px solid red;
}

#shelveInfo{
    display: none;
    position: inherit;
    overflow: visible;
    z-index: 100;
    width: 100%;
    height: 10%;
    margin: 10px;
    padding-top: 20px;
    grid-area: info;
}

#shelveLegend{
    display: block;
    position: inherit;
    overflow: visible;
    z-index: 100;
    width: 100%;
    height: 10%;
    margin: 10px;
    grid-area: legend;
}

#voiceCard{
    display: block;
    position: relative;
    overflow: auto;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin: 10px;
    grid-area: voicecard;
    padding-right: 10px;
    padding-bottom: 60px;
}

.text_insidecard{
    width: fit-content;
    height: fit-content;
    display: inline;
}

#ordersList{
    display: block;
    position: inherit;
    overflow: auto;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin: 10px;
    padding-right: 10px;
    grid-area: orders;
}

.legend_element{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
    vertical-align: middle;
    align-items: stretch;
}

#ul_legend{
    padding: 3%;
    align-items: center;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 20% 80%;
    grid-template-areas: "color1 legend1"
                         "color2 legend2"
                         "color3 legend3"
                         "color4 legend4"
                         "color5 legend5";
}